* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'face0'; 
  src: url('../assets/fonts/face0.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, 
#character-name, 
#character-text, 
.tip-container,
#text-next-btn,
#text-back-btn {
  color: white;
  text-shadow: 
  -2px -2px 0 #000,  2px -2px 0 #000, -2px  2px 0 #000,  2px  2px 0 #000, 
   0px -2px 0 #000,  0px  2px 0 #000, -2px  0px 0 #000,  2px  0px 0 #000; 
    font-family: '', sans-serif; 
}

button {
  border: none;
  outline: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
}