body {
  background: url("../assets/backgrounds/m1f_p1b.png") center / cover no-repeat;
  font-family: "Georgia", serif;
  color: #f5f5f5;
}

.wrapper,
header,
main,
footer {
  position: relative;
  z-index: 1;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background-image: url("../assets/ui/umi_gf.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100vh;
}

#app-header {
  background: #0b0b0b;
}

#sidebar {
  background: #371b1b;
}

#screen-container {
  background: #371b1b;
  position: relative;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}


#game-title {
  color: #d4c2a5;
  letter-spacing: 1px;
}

#character-name {
  color: #ffffff;
  text-shadow: 1px 1px 3px black;
}

#character-text {
  color: #f2f2f2;
  text-shadow: 1px 1px 2px black;
}

#character-grid img {
  transition: all 0.2s ease;
  filter: brightness(0.9);
}

#character-grid img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.character-slot {
  background-size: 100%;
  background-position: center 20%;
}

.character-slot.state-missing {
  filter: grayscale(100%) brightness(1.1);
}

.character-slot.state-dead {
  position: relative;
}

.character-slot.state-dead::after {
  content: "";
  position: absolute;
  inset: 0;
  background: red;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.character-slot[data-id="kinzo"] { background-position: center 10%; background-size: 170%; }
.character-slot[data-id="krauss"] { background-position: center 15%; background-size: 160%; }
.character-slot[data-id="eva"] { background-position: center 18%; background-size: 150%; }
.character-slot[data-id="rudolf"] { background-position: center 15%; background-size: 160%; }
.character-slot[data-id="rosa"] { background-position: center 12%; background-size: 165%; }
.character-slot[data-id="natsuhi"] { background-position: center 18%; background-size: 250%; }
.character-slot[data-id="hideyoshi"] { background-position: center 15%; background-size: 160%; }
.character-slot[data-id="kyrie"] { background-position: center 20%; background-size: 150%; }
.character-slot[data-id="battler"] { background-position: center 18%; background-size: 155%; }
.character-slot[data-id="jessica"] { background-position: center 15%; background-size: 160%; }
.character-slot[data-id="george"] { background-position: center 12%; background-size: 165%; }
.character-slot[data-id="maria"] { background-position: center 25%; background-size: 145%; }
.character-slot[data-id="genji"] { background-position: center 10%; background-size: 170%; }
.character-slot[data-id="shannon"] { background-position: center 20%; background-size: 150%; }
.character-slot[data-id="kanon"] { background-position: center 15%; background-size: 160%; }
.character-slot[data-id="gohda"] { background-position: center 12%; background-size: 165%; }
.character-slot[data-id="kumasawa"] { background-position: center 8%; background-size: 175%; }
.character-slot[data-id="nanjo"] { background-position: center 12%; background-size: 165%; }
.character-slot[data-id="beatrice"] { background-position: center 12%; background-size: 165%; }

#character-visual.executed::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(180, 0, 0, 0.6);
  mix-blend-mode: multiply;
  pointer-events: none;
}

.menu-btn,
.text-next,
.episode-btn,
.tip-button-container,
.tip-container {
  background: #371b1b;
  color: #f5f5f5;
  font-family: inherit;
  transition: all 0.2s ease;
}

.menu-btn:hover,
.text-next:hover,
.episode-btn:hover,
.tip-button-container:hover,
.tip-container:hover {
  background: #ff0000;
}

.text-next:hover {
  box-shadow: 0 0 6px #ff0000;
}

.episode-btn.active {
  background: #ff0000;
}

.tip-button-container.active {
  box-shadow: 0 0 10px #ff0000;
}


#tips-screen {
  background: rgba(40, 0, 0, 0.95);
}

#tips-screen h2 {
  margin-bottom: 20px;
  color: #ffdddd;
}

.tip-button-container {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  text-align: center;
  cursor: pointer;
}

.tip-container {
  width: 100%;
  max-width: 100%;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
}

#main-layout[class*="tip-"]:not(.tip-witch-letter-2) #info-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; 
    padding-left: 30px;
}

#main-layout.tip-witch-letter-2 #info-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    min-height: 200px;
}

#main-layout.tip-witch-letter-2 #character-name,
#main-layout.tip-game-record #character-name,
#main-layout.tip-epitaph #character-name,
#main-layout.tip-witch-letter-3 #character-name,
#main-layout.tip-witch-letter #character-name{
  display: none;

}

#main-layout.tip-game-record #character-text {
    font-size: 0.80rem; 
    line-height: 1.4;
    text-align: left;   
}


.info-panel.tip-epitaph {
    color: #c9a74d;
    letter-spacing: 1px;
}

.menu-btn{
    width: 100%;
  box-sizing: border-box;
  text-align: center;
}

#music-player {
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 12px;
  border-radius: 6px;
}

#music-toggle {
  background: #220000;
  color: white;
}

#music-toggle:hover {
  background: #371b1b;
}
